html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
html, h1, h2, h3, h4, h5, h6, p, span {
	font-size: 62.5%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
	overflow-x: hidden;
}
body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
	width: 16px;
	background-color: rgba(241, 241, 241, 1);
}
body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb  {
	width: 14px;
	border: 2px solid #ededed;
	border-radius: 10px;
	background: rgba(185, 185, 185, 1);
}
body::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
	background: rgba(165, 165, 165, 1);
}
body::-webkit-scrollbar-thumb:active,
textarea::-webkit-scrollbar-thumb:active {
	background: rgba(120, 120, 120, 1);
}
body::-webkit-scrollbar-button {
	height: 16px;
	background-color: rgba(185, 185, 185, 1);
	border: 4px solid rgba(241, 241, 241, 1);
	border-radius: 50%;

} 
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: #333;
}

::selection {
	background: #016fe0;
	color: #fff;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #999;
}

.page-center {
	margin: 0 auto;
	/* max-width: 1500px; */
	max-width: 85%;
	width: 100%;
	/* min-width: 1336px; */
	/* width: 100%; */
}

.clearfix:after,
.clearfix:before
{
content: " ";
display:table;
}
.clearfix:after
{
clear:both;
}