.nav-block {
  width: 100%;
  height: 100px;
  overflow: hidden;
}


/* funcs */
.nav-funcs {
  float: right;
}

.nav-logo {
  margin: 32px 40px 0 0;
  width: 152px;
  height: 36px;
}

.nav-lists li,
.nav-funcs li {
  cursor: pointer;
  float: left;
  color: #999;
}

.nav-lists li a{
  display: inline-block;
  padding: 0 25px;
  width: 100%;
  color: #999;
}

.nav-lists li{
  font-size: 1.8rem;
  line-height: 100px;
}

.nav-funcs li {
  position: relative;
  padding: 0 10px;
  font-size: 1.2rem;
  line-height: 120px;
}

.nav-funcs li i {
  position: absolute;
  width: 100%;
  left: 0;
  top: -22px;
  height: 14px;
  font-size: 2.4rem;
  text-align: center
}

.nav-lists li:hover,
.nav-funcs li:hover {
  background-color: #f5f5f5;
}


/* lists */
.nav-logo, .nav-lists {
  float: left; 
}

.nav-item-container,
.nav-item-more-container {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  z-index: 1;
  cursor: default;
}

.nav-item-block .nav-item-container a {
  padding: 0 20px;
}

.nav-item-block .nav-item-container > ul {
  display: none;
  margin: 0 auto;
  left: 0;
  width: 85%;
  z-index: 1;
  background-color: #f5f5f5;
}

.nav-item-block:hover .nav-item-container > ul {
  display: block;
}

.nav-item-container > ul > li {
  height: 60px;
  line-height: 60px;
}

.nav-item-container > ul > .nav-not-more:hover {
  background-color: #ededed;
}

.nav-item-container > ul > .nav-more:hover {
  background-color: #fff;
}

.nav-item-container > ul > .nav-more a {
  color: #777;
}

.nav-item-container > ul > .nav-more:hover a {
  color: #555;
}

.nav-item-container > ul > .nav-more:hover i {
  border-color: #555;
}

.nav-more-icon {
  display: inline-block;
  margin-left: 10px;
  height: 10px;
  width: 10px;
  border: solid #777;
  border-width: 0px 0px 1px 1px;
  transform: rotate(-45deg) translate(25%, -25%);
}

.nav-more div {
  display: none;
  position: absolute;
}

.nav-more:hover  div{
  display: block;
  padding: 50px 0 60px 0;
  background-color: #fff;
}

.nav-more  div ul {
  margin: 0 auto;
  width: 85%;
}

.nav-more  div ul li {
  height: 60px;
  width: 25%;
}

.nav-more div ul li a {
  display: block;
  font-size: 1.8rem;
  line-height: 60px;
}

.nav-item-more-container a {
  font-size: 2.2rem;
  line-height: 2.2rem;
  margin-bottom: 30px;
}

.nav-item-more-container a h1 {
  display: block;
  padding: 0 80px;
  margin: 0 auto;
  width: 85%;
  height: 2.2rem;
}

.nav-item-more-container i {
  margin-right: 20px;
  font-size: 2.8rem;
}